html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding-top: 50px;    
    background-image: url('../images/background.png');
    color: #000;
}

h1, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar {
    background-color: black;
}

.row-fluid {
    display: flex;
    align-items: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: url('../images/contentbackground.jpg') repeat-y;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    margin: 20px;
    font-size: 16px;
}

footer {
    text-align:center;
    font-weight: normal;
    font-size: 10px;
}

/* Suggestion Form */
.SuggestionFormContainer {
    max-width: 350px;
    margin: 0 auto;
}

.SuggestionFormContainer .entryLabel {    
    margin-bottom: 10px;
}

.SuggestionFormContainer .entry {
    margin-bottom: 15px;
}