html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding-top: 50px;    
    background-image: url('../images/background.png');
    color: #000;
}

h1, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-transform: uppercase;
    color: #FFF;
}

a:focus, a:visited, a:hover {
    color: #FFF;
    text-decoration: none;
}

.navbar {
    background-color: black;
}

.row-fluid {
    display: flex;
    align-items: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: url('../images/contentbackground.jpg') repeat-y;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    margin: 20px;
    font-size: 16px;
}

footer {
    text-align:center;
    font-weight: normal;
    font-size: 10px;
}

.leaderboardCategoryContainer {
    width: 100%;    
}

.leaderboardContainer {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 400px;
    float: left;
    margin-left: 10px;
    height: 160px;
    margin-top: 10px;
}

.leaderboardContainer a {
    font-size: 16px;
}

.leaderboardContainer span {
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}

.leaderboardContainer .Ranking {
    font-size: 30px;
    color: Gold;
}

.leaderboardContainer img {
    padding-left: 10px;
    float: left;
    width: 100px;
}

.leaderboardContainer .additionalInformation {
    float: left;
    width: 100px;
}

.labelHeader {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    color: Black !important;
}

.labelValue {
    color: White;
}

/* Suggestion Form */
.SuggestionFormContainer {
    width: 350px;
    margin: 0 auto;
}

.SuggestionFormContainer .entryLabel {    
    margin-bottom: 10px;
}

.SuggestionFormContainer .entry {
    margin-bottom: 15px;
}