html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding-top: 50px;    
    background-image: url('../images/background.png');
    color: #000;
}

h1, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

a:focus, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: url('../images/contentbackground.jpg') repeat-y;
    min-height: 100%;
    height: 100%;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    margin: 20px;
    font-size: 16px;
}

footer {
    text-align:center;
    font-weight: bold;
}

.leaderboardCategoryContainer {
    width: 100%;    
}

.leaderboardContainer {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 300px;
    float: left;
    margin-left: 10px;
    height: 160px;
    margin-top: 10px;
}

.leaderboardContainer span {
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}

.leaderboardContainer img {
    padding-left: 10px;
    float: left;
    width: 100px;
}

.labelHeader {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: Black !important;
}

.labelValue {
    color: White;
}