@model List<thewhiskeystudy.Objects.ReviewListResponseItem>

@{ 
    ViewBag.Title = "Reviews";
}

<h1>Reviews</h1>

@foreach (var review in Model)
{
    <span><a href="@review.URL">@review.Title</a> - @review.PostDate.Date.ToShortDateString()</span>
}