@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 20px;">
    <img src="~/images/headerlogo.png" class="img-responsive center-block"  />

    <div class="body-text">
        The Whiskey Study was created to help document my adventure into Whiskey, specifically finding the perfect bottle.  For several months now I have kept a list of my favorites in numerical order, it became quickly apparant that comparing a $25 bottle to a $200+ bottle wasn't really the best way to go about it.  Just like you would not compare a Honda Civic to a Porsche 911, I wanted to go a step further.  Thus bringing me to creating this site.  As time goes on, full fledged reviews will be posted along with an ever evolving leaderboard.
    </div>
</div>