@model List<thewhiskeystudy.Objects.LeaderboardListResponseItem>

@{
    ViewBag.Title = "Leaderboard";
}

<h1>Leaderboard</h1>

@foreach (var category in Model.GroupBy(a => a.Category).Select(b => b.Key))
{
    <h3>@category</h3>

    @for (var x = 0; x < Model.Where(a => a.Category == category).ToList().Count; x++)
    { 
        var review = Model.Where(a => a.Category == category).ToList()[x];

        var index = x + 1;
        
        <h4>@index. <a href="@review.URL">@review.Name</a></h4>
    }
}