@model ReportModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="row" style="margin-top: 20px;">
    <img src="~/images/headerlogo.png" class="img-responsive center-block" alt="The Whiskey Study"  />
    
    <div class="body-text" style="margin-top: 10px;">
        <h3 class="text-center">@Model.ReportName</h3>

        @foreach (var item in Model.Suggestions)
        {
            @Html.Partial("_SuggestionBox", item)
                
            <hr/>
        }
    </div>
</div>