@model ReportModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="row" style="margin-top: 20px;">    
    <div class="body-text" style="margin-top: 10px;">
        <h3 class="text-center">@Model.ReportName</h3>
        <p class="text-center">@Model.ReportDescription</p>
        
        @foreach (var item in Model.Suggestions)
        {
            @Html.Partial("_SuggestionBox", item)
                
            <hr/>
        }
    </div>
</div>